body {
  background-color: rgb(240, 240, 232);
}
.card:hover,
.card:hover img {
  transform: scale(1.2);
}

.card {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

img {
  height: 100%;

  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 30%;
  border-radius: 5px;
  background-color: white;
  opacity: 70%;
}
